@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --mikado-50: #f7f9ed;
  --mikado-100: #ecf0d1;
  --mikado-200: #dce2a6;
  --mikado-300: #cbd173;
  --mikado-400: #c1c34c;
  --mikado-500: #b4b13e;
  --mikado-600: #9a9034;
  --mikado-700: #7c6d2c;
  --mikado-800: #68592b;
  --mikado-900: #5a4b29;
  --mikado-950: #302613;
  --dark: #0f0f0f;
  --stroke: #282a3a;
}

html,
body {
  background-color: var(--dark);
  color: var(--mikado-50);
}

[data-testid="rk-connect-button"],
[data-testid="rk-account-button"] {
  background-color: var(--mikado-100) !important;
  color: var(--mikado-950) !important;
  font-size: 14px !important;
}
[data-rk] .ju367vcl {
  border: var(--mikado-950) !important;
  color: var(--mikado-950) !important;
  background-color: var(--mikado-100) !important;
  font-size: 14px !important;
}

@font-face {
  font-family: "BeaufortPro";
  src: url('../fonts/BeaufortPro-thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "BeaufortPro";
  src: url('../fonts/BeaufortPro-thinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "BeaufortPro";
  src: url('../fonts/BeaufortPro-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "BeaufortPro";
  src: url('../fonts/BeaufortPro-lightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "BeaufortPro";
  src: url('../fonts/BeaufortPro-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BeaufortPro";
  src: url('../fonts/BeaufortPro-regularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "BeaufortPro";
  src: url('../fonts/BeaufortPro-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BeaufortPro";
  src: url('../fonts/BeaufortPro-mediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "BeaufortPro";
  src: url('../fonts/BeaufortPro-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BeaufortPro";
  src: url('../fonts/BeaufortPro-boldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
